API_PORT=8081

POSTGRES_DB=rotinalize
POSTGRES_USER=rotinalize
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false
H2_CONSOLE_ENABLED=false

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HEALTH_ENABLED=false

REMINDER_CRON=0 0 7 * * *
